[data-theme="light"] {
	--color-bg: #ffffff;
	--color-fg: #000000;
}

[data-theme="dark"] {
	--color-bg: #000000;
	--color-fg: #ffffff;
}

body {
	background-color: var(--color-bg);
	color: var(--color-fg);
	border-color: var(--color-bg);
}

table,
td {
	border: 1px solid var(--color-fg);
}

td,
th {
	padding: 0.25rem;
}

thead,
tfoot {
	background-color: var(--color-fg);
	color: var(--color-bg);
}
